.productsAll{      
    width: 100%;
    display: flex; 
    justify-content: center; 
    margin: 0 auto;
    padding: 0 0px 0 40px;   
}
.productsAll_containerAll{
    display: grid;    
    grid-template-columns: repeat(4, 250px);   
    justify-content: center; 
}
.productsAll_container{
    position: relative;
    width: 250px;
    text-align: center;    
}
.container_img{
    margin-top: 20px;
    width: 130px;
    height: 130px;
    border-radius: var(--border_smoll);
}
.container_favorites{
    position: absolute;
    right: 30px;
    top: 10px;  
    cursor: pointer;  
}
.container_title{
    text-decoration: dashed;
    color: rgb(42, 42, 158);
}