.catalog{
   width: 100%;
   justify-content: center;     
}
.catalog_container{      
    display: grid;
    grid-template-columns: repeat(4, 240px);
    padding: 30px 20px;  
    justify-content: center;
    
}