.container_white{
    width: 100%;
    height: 100px;
    background-color: var(--header_white);
    border-radius: var(--border_smoll);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
    box-shadow: 1px 2px 3px 3px;
}
.white_logo{
    width: 80px;
    height: 80px;
}
.white_buttonContainer{
    display: flex;
    list-style-type: none;    
}
.white_buttonContainer li{
    margin-right: 40px;   
}
.white_link{
    text-decoration: none;
    color: var(--color-link);
    transition: 0.3s;
}
.white_link:hover{
    color: var(--white_link_hover);
}
.container_grey{
    width: 100%;
    min-height: 60px;
    background-color: var(--header_grey);
    border-radius: var(--border_smoll);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
    margin-top: 30px;
    box-shadow: 1px 2px 3px 3px;    
}
.grey_linkContainer{
    display: flex;
    align-items: center;    
}
.grey_linkContainer h3{
    margin-right: 20px;
    font-size: 16px;
    color: var(--color_);
}
.grey_link{
    display: flex;  
   
}
.grey_link a{
    text-decoration: none;
    margin-right: 40px;  
    color: var(--header_white);
    transition: 0.3s;
}
.grey_link a:hover{   
    color: var(--white_link_hover);
}
.grey_phone{
    display: flex;
    flex-direction: column;
}